name: Semantic Release
on:
  push:
    branches:
      - main
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        with:
          working_directory: ./mobile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
